{% extends "base.html" %}

{% block title %}DHT22 Dashboard{% endblock %}

{% block content %}

<header class="pir-header">
    <h1>🌡️ DHT22 Sensor Dashboard</h1>
</header>

<div class="container">

    <!-- LIVE -->
    <div class="card">

        <h2>Live Status</h2>

        <br>

        <div class="live dht-live">

            <div class="box">
                <div class="live-value dht-temp">
                    {{ dht22.temperature }}
                </div>
                <p>Temperature (°C)</p>
            </div>

            <div class="box">
                <div class="live-value dht-hum">
                    {{ dht22.humidity }}
                </div>
                <p>Humidity (%)</p>
            </div>

        </div>

        <span class="state dht-state {{ dht22.fan_status }}">
            {{ dht22.fan_status }}
        </span>

        <br><br>

        <p><strong>Updated:</strong> {{ dht22.time }}</p>

    </div>

    <!-- GRAPH -->
    <div class="card">

        <h2>Sensor Graph</h2>

        <br>

        <div class="chart-container">
            <canvas id="chart"></canvas>
        </div>

    </div>

    <!-- HISTORY -->
    <div class="card">

        <h2>History</h2>

        <br>

        <table>

            <tr>
                <th>#</th>
                <th>Time</th>
                <th>Temp</th>
                <th>Humidity</th>
            </tr>

            {% for t, h in history %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ t.timestamp }}</td>
                <td>{{ t.reading_value }} °C</td>
                <td>{{ h.reading_value }} %</td>
            </tr>
            {% endfor %}

        </table>

    </div>

</div>

<script>

const labels = {{ chart_labels | tojson }};
const temp = {{ chart_temp | tojson }};
const hum = {{ chart_humidity | tojson }};

new Chart(document.getElementById("chart"), {
type: "line",
data: {
labels: labels,
datasets: [
{
label: "Temperature",
data: temp,
borderColor: "#e74c3c",
fill: true,
tension: 0.4
},
{
label: "Humidity",
data: hum,
borderColor: "#27ae60",
fill: true,
tension: 0.4
}
]
},
options: {
responsive: true,
maintainAspectRatio: false,
scales: {
x: { ticks: { color: "white" } },
y: { ticks: { color: "white" } }
},
plugins: {
legend: { labels: { color: "white" } }
}
}
});

setTimeout(() => location.reload(), 5000);

</script>

{% endblock %}