{% extends "base.html" %}

{% block title %}Home - Smart Home System{% endblock %}

{% block content %}

<!-- BACKGROUND WRAPPER -->
<div class="home-bg">

  <!-- OVERLAY (for readability) -->
  <div class="home-overlay"></div>

  <div class="home">

    <!-- LEFT SIDE -->
    <div class="home-left">
      <div>
        <h1>Smart Home System</h1>
        <p>
          A real-time IoT monitoring system for sensors including temperature,
          motion, distance, light, and camera nodes.
        </p>

        <a href="/team" class="btn btn-dark">Meet the Team</a>
      </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="home-right">
      <div>
        <h2>Live Monitoring Dashboard</h2>
        <p>
          View sensor data from multiple nodes and track environmental changes
          in real time. <br>All available from the items in the <strong>NODES</strong> dropdown menu
        </p>
      </div>
    </div>

  </div>

</div>

{% endblock %}