<!DOCTYPE html>
<html>
<head>
  <title>Smart Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='fanelo.css') }}">
</head>

<body>

<ul class="navbar">
  <li><a href="{{ url_for('home') }}">Home</a></li>

  <li class="dropdown">
    <a href="#">Nodes</a>
    <ul class="features">
      <li><a href="{{ url_for('dht22_sensor') }}">NODE 1(DHT22)</a></li>
      <li><a href="{{ url_for('ultson_sensor') }}">NODE 2(Ultrasonic)</a></li>
      <li><a href="{{ url_for('pir_sensor') }}">NODE 3(PIR)</a></li>
      <li><a href="{{ url_for('camera') }}">NODE 4(Camera)</a></li>
      <li><a href="{{ url_for('ldr_sensor') }}">NODE 5(LDR)</a></li>

    </ul>
  </li>

  <li><a href="{{ url_for('about') }}">About</a></li>
  <li><a href="{{ url_for('admin') }}">Admin</a></li>
</ul>

<section class="home">
  <div class="home-container">
    <h1>Smart Home System</h1>
    <p>Monitor and control your home easily.</p>
  </div>
</section>

</body>
</html>
