<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Home System</title>
  <link rel="stylesheet" href="static/fanelo.css">
</head>

<body>

<ul class="navbar">
  <li><a href="index.html">Home</a></li>

  <li class="dropdown">
    <a href="#">Sensor_unit</a>
    <ul class="features">
      <li><a href={{ url_for('login') }}>Ultrasonic Sensor</a></li>
      <li><a href={{ url_for('login') }}>ESP32 Camera module</a></li>
      <li><a href={{ url_for('login') }}>LDR sensor</a></li>
      <li><a href={{ url_for('login') }}>DHT22 sensor</a></li>
      <li><a href={{ url_for('login') }}>PIR sensor</a></li>
  
    </ul>
  </li>

  <li><a href="about.html">About-us</a></li>
  <li><a href="resouces.html">Resources</a></li>
  <li><a href="#">Admin</a></li>
</ul>

<section class="home">
  <div class="home-container">
    <h1>Smart Home Automation & Security</h1>
    <p>
      Welcome to your smart home system. Monitor, control, and secure your home 
      efficiently using modern technology.
    </p>
  </div>
</section>

</body>
</html>


