<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resources</title>
  <link rel="stylesheet" href="static/fanelo.css">
</head>

<body>

<ul class="navbar">
  <li><a href="index.html">Home</a></li>

  <li class="dropdown">
    <a href="#">Features</a>
    <ul class="features">
      <li><a href="#">Smart Lighting</a></li>
      <li><a href="#">Security Camera</a></li>
      <li><a href="#">Motion Detection</a></li>
      <li><a href="#">Temperature</a></li>
      <li><a href="#">Distance</a></li>
    </ul>
  </li>

  <li><a href="about.html">About-us</a></li>
  <li><a href="#">Login</a></li>
  <li><a href="#">Sign-up</a></li>
  <li><a href="resouces.html">Resources</a></li>
</ul>

<section class="resources">
  <div class="resources-container">
    <h2>Resources</h2>

    <p>
      This section provides useful materials and references used in the 
      development of the Smart Home Automation and Security System.
    </p>

    <h3>Hardware Components</h3>
    <ul>
      <li>ESP32 Microcontroller</li>
      <li>PIR Motion Sensor</li>
      <li>Ultrasonic Sensor</li>
      <li>LEDs and Resistors</li>
    </ul>

    <h3>Software Tools</h3>
    <ul>
      <li>Arduino IDE</li>
      <li>HTML & CSS</li>
      <li>python Flask</li>
      <li>Mysql server</li>
    </ul>

    <h3>Learning Resources</h3>
    <ul>
      <li>ESP32 Documentation</li>
      <li>Arduino Tutorials</li>
      <li>IoT and Smart Home Guidelines</li>
    </ul>

  </div>
</section>

</body>
</html>
