{% extends "base.html" %}

{% block title %}Team - Smart Home System{% endblock %}

{% block content %}

<section class="team-section">

  <div class="team-container">

    <h1>Our Team</h1>
    <p>Meet the developers behind the Smart Home System project</p>

    <div class="github-link">
      <a href="https://github.com/enkhosini/Smart-Home-Autommation-and-Security" target="_blank">
        View GitHub Repository
      </a>
    </div>

    <div class="team-grid">

      <div class="team-card">
        <div class="card-header">
          <h2>Mr DO Seriki <br>~Supervisor/Lecturer</h2>
        </div>
        <p class="description">
          Gave advice to the team on the best way to move forward durin the progression of the project + its report
        </p>
      </div>


      <div class="team-card leader">
        <div class="card-header">
          <h2>Fanelo Mabasa <br>~Team Leader</h2>
        </div>
        <p class="description">
          Responsible for main leaderhip of the team and making sure that things run smoothly.
        </p>
      </div>

      <div class="team-card">
        <div class="card-header">
          <h2>Maambele Rakhunuana <br>~Developer</h2>
        </div>
      </div>

      <div class="team-card">
        <div class="card-header">
          <h2>Bridgete Makau <br>~Developer</h2>
        </div>
      </div>

      <div class="team-card">
        <div class="card-header">
          <h2>Sobongankosini Mdlovu <br>~Developer</h2>
        </div>
      </div>

      <div class="team-card">
        <div class="card-header">
          <h2>Muzi Mnini <br>~Developer</h2>
        </div>
      </div>
    </div>

  </div>

</section>

{% endblock %}